.homepage{
    margin-top: 160px;
}

.Intro .Intro {
    font-size: 70px;
    text-align: center;
    font-weight: 1000;
    color: rgb(3, 3, 79);
}

.Intro .IntroExplain {
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(120, 120, 120);
}

.Rider, .Driver{
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 20px;
    background-color: rgb(3, 3, 79);
    border-radius: 10px;
    color: white;
}

.Driver:hover, .Rider:hover{
    background-color: rgb(3, 3, 150);
}

.Buttons{
    text-align: center;
}