nav {
  background-color: rgb(3, 3, 79);
  color: white;
  width: 100vw;
  height: 70px;
  box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
  position: fixed;
  top: 0;
  left: 0;

}

.Arrow {
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}

.RegisterDrpdwn{
  background-color: rgb(3, 3, 79);
  display: none;
  padding:5px 0 20px 5px;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  margin-top: 10px;
  margin-left: -20px;
  list-style-type: none;
  box-shadow: 2px 2px 5px  rgb(200, 200, 200);
}



.Register:hover .RegisterDrpdwn {
  display: block;
  font-weight: 400;
}




.Drop1:hover, .Drop2:hover, .Drop3:hover{
  font-weight: bold;
}


a{ 
  text-decoration: none;
  color: white;
}



.Navlinks {
  display: flex;
  list-style-type: none;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

li{
  padding:10px 10px;
  right: 0;
  margin-top: 0px;
  font-size: 21px;
  text-decoration: none;
}

.Button{
  padding-top: 12px;
  background: none;
  color: white;
  border: none;
  font-size: 25px;
  margin-left: auto;
  display: none;
}

div{
  margin-left: auto;
}

.Others {
  display: flex;
  list-style-type: none;
}

.Register:hover, .Service:hover, .Other:hover, .Profile:hover{
  font-weight: bold;
}

@media screen and (max-width:750px) {
  div .Button{
    display: block;
  }
  .Menu .Others{
    display: none;
  }

  .Navlinks{
    max-width: 90vw;
  }

  .Close .Others{
    display: block;
    background-color: rgb(3, 3, 79);
    width: 90vw;
    position: relative;
    margin-left: -90vw;
    margin-top: 0px;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    padding-bottom: 10px;
  }

  .Register:hover, .Service:hover, .Other:hover, .Profile:hover{
    border-left: 4px solid white;
  }

  .Logo{
    font-weight: bold;
  }



  
  /* .Close .Others{

  } */
}